extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Winston Tang

        p Full Stack JavaScript Developer


        .about-bio

          p I am currently a graduate student studying computer and information technology. My goal is to become a web developer!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 434-270-2071
          li cwtang16@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/winstont97/', target = '_blank') LinkedIn
        a.btn-link(href='https://github.com/Winstonyz', target = '_blank') GitHub
        //- a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back