extends layout.pug

block content

  article.portfolio-intro

    h1 Hey, Potential Employers!

    p This is a portfolio that showcases some of the projects I have worked on!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt='')
            h5 #{project.project_name}

